@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities { 
  
  .page {
    @apply flex flex-col h-screen bg-gradient-to-b from-[#063970] to-blue-200 overflow-scroll;
  }
  .page__form__wrapper {
    @apply w-11/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12
    px-6 py-10 sm:px-10 sm:py-6
    bg-white rounded-lg shadow-md lg:shadow-lg
  }
}

@layer components {
  .input {
    @apply rounded-none bg-gray-50 border text-gray-900 
    focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  
    focus:invalid:border-pink-500 focus:invalid:ring-pink-500
  }
  .input__icon {
    @apply inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 
    border-gray-300 dark:text-gray-400 dark:border-gray-600
  }
  .btn {
    @apply w-full py-3 mt-10 bg-[#063970] rounded-md
    font-medium text-white uppercase
    focus:outline-none hover:shadow-none
  }

  .btn--disabled {
    @apply opacity-75 cursor-progress
  }
  .select {
    @apply w-4 h-4 bg-gray-100 border-gray-300 
    dark:ring-offset-gray-800 
    dark:bg-gray-700 dark:border-gray-600
  }
  .acitve {
    @apply select focus:ring-blue-500 ark:focus:ring-blue-600
  }
}
